.books {
    @extend .row;
    @media #{$large-up} {
        @include vertical_align;
    }
    @media #{$medium-only} {
        margin-bottom: rem-calc(70);
        padding-top: rem-calc(105);
    }
    @media #{$small-only} {
        padding-top: rem-calc(40);
        margin-bottom: rem-calc(160);
    }
}
