.fixed_footer {
    @extend .fixed;
    z-index: 6000;
    background: #000000;
    bottom: 0;
    top: inherit;
    font-family: Arial, sans-serif;
    height: 46px;
    border-top: 1px solid white;
    @media #{$medium-only} {
        height: 62px;
    }
    @media #{$small-down} {
        height: 77px;
    }

    .no_padding {
        padding: 0;
    }

    .social {
        background: #000000 !important;

        > * {
            padding: .5rem;
        }

        > * i {
            color: #696969 !important;
        }

        .item:first-child:hover {
            background: rgb(24, 132, 187) !important;
        }

        .item:nth-child(2):hover {
            background: rgb(224, 41, 39) !important;
        }

        .item:nth-child(3):hover {
            background: rgb(67, 96, 156) !important;
        }

        .item:nth-child(4):hover {
            background: rgb(189, 30, 35) !important;
        }

        .item:nth-child(5):hover {
            background: rgb(0, 132, 180) !important;
        }
    }

    .copyright {
        color: white;
        position: absolute;
        bottom: 0;
        font-size: .7rem;
        width: 100%;
    }

    .cp_right {
        color: rgb(53, 142, 186);
    }

    .privacy_policy {
        font-weight: bold;
        margin-right: 10px;
        font-size: 10px;
        cursor: pointer;
    }

    .terms_and_conditions {
        font-size: 10px;
        cursor: pointer;
        font-weight: bold;
    }

    .cp_text {
        // position: relative;
        // left: 10%;
        font-size: .7rem;
        color: #ffffff;
        bottom: -17px;
        @media #{$medium-down} {
            bottom: 0;
        }
    }
}

