.fixed_footer {
    @extend .fixed;
    background: $white;
    bottom: 0;
    top: inherit;
    font-family: Arial, sans-serif;

    .contact {
        @extend .large-6;
        @extend .columns;
        @extend .no-bullet;
        margin: 0;
        padding-top: rem-calc(5);

        li {
            @media #{$small-down} {
                text-align: center;
            }
        }

        li a {
            color: $jet;
        }

        li:nth-child(1) {
            font-size: 1.4rem;
        }
        li:nth-child(2) {
            font-size: 1rem;
        }
        li:nth-child(3) {
            font-size: 1.1rem;
        }
    }

    .footer-height {
        height: rem-calc(93);
        @media #{$xtiny-down} {
            height: rem-calc(60);
        }
    }

    .social {
        height: 100%;

        a {
            padding: 2rem 1.25rem;
            @media #{$xtiny-down} {
                padding: 1rem;
            }
        }
    }
}

