.media_kit {
    @extend .row;
    position: relative;
    z-index: 1999;
    max-width: none;
    background: url('../images/pattern-bg1.jpg');
    @media #{$medium-only} {
        padding-top: rem-calc(60);
    }
    @media #{$small-down} {
        padding-top: rem-calc(40);
    }

    figure {
        @media #{$small-down} {
            margin: 0 !important;
        }
    }

    .media_kit_text {
        @media #{$small-down} {
            margin-bottom: 20px !important;
        }
    }

    .media_kit_text p {
        font-size: 13px !important;
        margin-bottom: 0 !important;
        margin-right: 1.5rem !important;
    }

    .magazine {
        overflow: hidden;
        max-height: 686px !important;
        padding-top: 53px;
    }

    #media_kit {
        width: 100%;
        margin-top: rem-calc(-52);
        height: 42rem;
    }
}
