.fixed_nav {
    @extend .fixed;
    background: $white;
    padding: rem-calc(8 0);
    @media #{$medium-only} {
        padding: rem-calc(8 0 0 0);
    }
    @media #{$tiny-down} {
        padding: 0;
    }

    .row {
        max-width: 63rem;
    }

    .nav_container {
        @extend .large-12;
        @extend .columns;
        @media #{$small-only} {
            padding-left: rem-calc(10);
            padding-right: rem-calc(5);
        }

        .top_bar {
            @extend .top-bar;
        }
    }

    .name a {
        padding: 0 !important;
    }

    .nav_links {
        margin-left: -0.9375rem;
        float: right;
        @media #{$medium-only} {
            float: left;
        }
    }

    h1 {
        font-family: $font-header;
        margin: 0;
        letter-spacing: 1rem;
        @media #{$medium-up} {
            font-size: 1.8rem !important;
        }
        @media #{$small-only} {
            font-size: 1.7rem !important;
            letter-spacing: .3rem;
        }
        @media #{$tiny-down} {
            font-size: 24px !important;
            letter-spacing: .3rem;
        }
    }
}
