.testimonials {
    @extend .row;
    max-width: 52rem;
    position: relative;
    z-index: 1999;
    padding-bottom: 25px;

    .article {
        // border-bottom: 1px solid rgba(0,0,0, .3);
        border: 6px solid #ffffff;
        margin-bottom: 15px;
        padding-left: 6px;
        padding-top: 5px;

        p {
            line-height: 1.3 !important;
        }
    }

    .article:first-child {
        // border-top: 1px solid rgba(0,0,0, .3);
    }

    .right_on_med {
        @media #{$medium-only} {
            float: right !important;
        }
    }

    .article_row {
        @media #{$medium-only} {
            padding-right: rem-calc(24);
        }
    }
}
