{# footer #}
<!-- <div class="fixed_footer">
    <div class="row small-collapse">
        <div class="large-12 columns">
            <div class="row small-collapse">
                <div class="copyright"><div class="cp_text">
                    Steven Cuoco | © All rights reserved by copyright 2015 |
                    Privacy Policy | Terms and Conditions
                    </div>
                </div>
                <div class="large-5 medium-6 columns right footer-height">
                    <div class="social icon-bar five-up">
                        <a class="item" target="_blank" href="{{cms.social.linkedin}}">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="item" target="_blank" href="{{cms.social.youtube}}">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a class="item" target="_blank" href="{{cms.social.facebook}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="item" target="_blank" href="{{cms.social.pinterest}}">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a class="item" target="_blank" href="{{cms.social.twitter}}">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="fixed_footer">
    <div class="row">
        <div class="large-6 medium-12 columns cp_text">
            <span id="privacy_policy" class="privacy_policy">PRIVACY POLICY</span>  <span id="terms_and_conditions"class="terms_and_conditions">TERMS & CONDITIONS</span> // <span class="cp_right">© 2015 Steven Cuoco All rights reserved</span> //

        </div>
        <div class="large-6 medium-12 columns no_padding">
            <div class="social icon-bar five-up">
                <a class="item" target="_blank" href="{{cms.social.linkedin}}">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="item" target="_blank" href="{{cms.social.youtube}}">
                    <i class="fa fa-youtube"></i>
                </a>
                <a class="item" target="_blank" href="{{cms.social.facebook}}">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="item" target="_blank" href="{{cms.social.pinterest}}">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a class="item" target="_blank" href="{{cms.social.twitter}}">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
