{# footer #}
<div class="fixed_footer">
    <div class="row small-collapse">
        <div class="large-12 columns">
            <div class="row small-collapse">
                <ul class="contact">
                    <li><a href="#">908-329-5131</a></li>
                    <li><a href="#">{{cms.home.email|upper}}</a></li>
                    <li><a href="#">{{cms.home.general_inquiries|upper}}</a></li>
                </ul>
                <div class="large-5 medium-6 columns right footer-height">
                    <div class="social icon-bar five-up">
                        <a class="item" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a class="item" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
