{# footer #}
<div class="fixed_footer">
    <footer class="footer_container">
        <div class="contact-info">
            <ul class="card">
                <li class="email row">
                    <span class="left"> email: </span>
                    <a class="right" href="#">{{cms.home.email}}</a>
                </li>
                <li class="email row">
                    <span class="left"> general inquiries: </span>
                    <a class="right" href="#">{{cms.home.general_inquiries}}</a>
                </li>
                <li>
                    <span class="left"> phone </span>
                    <span class="state right"> 908.329.5131</span>
                </li>
            </ul>
        </div>
        <div class="icon_footer_bar">
            <div class="icon_row six-up">
                <a class="item">
                    <i class="fi-social-amazon"></i>
                </a>
                <a class="item">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="item">
                    <i class="fa fa-youtube"></i>
                </a>
                <a class="item">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="item">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a class="item">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
