{# main nav bar #}
<div class="fixed_nav">
    <div class="row">
        <div class="nav_container">
            <nav class="top_bar contain-to-grid"
                 data-topbar="" role="navigation">
                <ul class="title-area">
                  <!-- Title Area -->
                  <li class="name">
                    <h1><a class="name-link" href="#">{{"steven cuoco"|upper}}</a></h1>
                  </li>

                  <li class="toggle-topbar menu-icon">
                    <a href=""><span></span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="nav_links">
                        <li><a href="/">ABOUT</a></li>
                        <li><a href="/home/">EMAGE MAGAZINE</a></li>
                        <li><a href="#">TESTIMONIALS</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">BOOKS</a></li>
                        <li><a href="#">LEGAL</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>
</div>
