{# main nav bar #}
<div class="fixed_nav">
    <div class="row">
        <div class="nav_container">
            <nav class="top_bar contain-to-grid"
                 data-topbar="" role="navigation">
                <ul class="title-area">
                  <!-- Title Area -->
                  <li class="name">
                    <h1><a class="name-link" href="#home">{{"steven cuoco"|upper}} </a></h1>
                  </li>

                  <li class="toggle-topbar menu-icon">
                    <a href="#"><span></span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="nav_links">
                        <li class="has-dropdown">
                          <a href="#">ABOUT</a>
                          <ul class="dropdown">
                            <li><a href="#about">Biography</a></li>
                            <li><a href="#pub">Publicist</a></li>
                            <li><a href="#pa">Professional Advisor</a></li>
                          </ul>
                        </li>
                        <li class="has-dropdown">
                          <a href="#magazine">EMAGE MAGAZINE&trade;</a>
                          <ul class="dropdown">
                            <li><a href="#emage_page">Emage Video</a></li>
                            <!-- <li><a href="#joomag">Magazine Issues</a></li> -->
                            <li><a href="#media_kit_new">
                              United Angels Dream - Your Second Opinion Resource Company&trade;
                            </a></li>
                          </ul>
                        </li>
                        <li><a href="#testimonials">TESTIMONIALS</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        <li class="has-dropdown">
                          <a href="#books">BOOKS</a>
                        </li>
                        <li>
                          <form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type="hidden" name="LinkId" value="3d17ccc9-c168-4756-870f-a0a39e56e0cc" />
                            <input class="payment_button" type="submit" value="PAYMENT" />
                          </form>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>
</div>
