{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.contact.name }}{% endblock %}
{% block content %}
<div class="contact">
  <div class="large-6 medium-12 columns">
  <form accept-charset="UTF-8"
        action="https://formkeep.com/f/866a077f654a"
        method="POST">
    <input type="hidden" name="utf8" value="✓">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="text" name="name" placeholder="Your Name" required>
    <textarea type="text" name="message"
              placeholder="Comments or Questions are Welcome!" required></textarea>
    <button type="submit">Send</button>
  </form>
  </div>
</div>
{% endblock %}
