{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

  <div class="sc_home">
    <img class="wait-for-me" src="{{ cms.home.image|imageSize(auto) }}" />
  </div>


  <!-- KEEP THIS -->
  <!-- <div class="breakpoints">
    <p class="panel">
      <strong class="show-for-small-only">This text is shown only on a small screen.</strong>
      <strong class="show-for-medium-up">This text is shown on medium screens and up.</strong>
      <strong class="show-for-medium-only">This text is shown only on a medium screen.</strong>
      <strong class="show-for-large-up">This text is shown on large screens and up.</strong>
      <strong class="show-for-large-only">This text is shown only on a large screen.</strong>
      <strong class="show-for-xlarge-up">This text is shown on xlarge screens and up.</strong>
      <strong class="show-for-xlarge-only">This text is shown only on an xlarge screen.</strong>
      <strong class="show-for-xxlarge-up">This text is shown on xxlarge screens and up.</strong>
    </p>
  </div> -->

{% endblock %}
