{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

  <div id="home" class="sc_home small-collapse">
    <div class="sc_home_box large-9 large-centered columns">
      <div class="large-5 columns caption_container">
        <h4 class="sub_caption hide-for-small-down">"Setting your stage while the spotlight is on you"</h4>
        <span class="sub_caption2 hide-for-small-down">// STEVEN CUOCO / PROFESSIONAL ADVISOR</span>
      </div>
      <div class="large-7 medium-12 small-12 columns large-centered image_container">
      </div>
    </div>
  </div>

  <div id="magazine" class="media_kit">
    <div class="row no-margin">
      <div class="large-10 medium-12 columns large-centered magazine">
        <p>
  <br>
</p><figure data-type="embed">
        <iframe src="{{ cms.webkit.magazine_url }}" id="media_kit" name="media_kit" scrolling="no" frameborder="no" align="center" height="100%" width="100%" kwframeid="2"><span id="selection-marker-1" class="redactor-selection-marker" data-verified="redactor"></span>
</iframe>
<figcaption></figcaption></figure>
<p>
  <br>
</p>
      </div>
    </div>
    <div id="media_kit_new" class="row media_kit_row">
      <div class="large-8 large-centered no_padding columns">
        <div class="row">
          <div class="large-4 media_kit_text columns">
            <div class="row">{{ cms.emage.main_text|safe }}</div>
            <div class="row">
              <span class="philosophy_title">PHILOSOPHY:<br /></span>
              <span class="philosophy_text">{{ cms.emage.philosophy|safe }}</span>
            </div>
          </div>
          <div class="large-8 columns small_joomag_container">
            <a class="embedly-card" data-card-theme="dark" href="https://www.joomag.com/magazine/emage-magazine-media-kit-2015/0550199001409219397">EMAGE Magazine™ Media Kit 2015</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="emage_page" class="emage">
    <div class="row no-margin">
      <div class="row">
        <div class="large-5 columns large-centered text-center">// // <span class="watch_text">WATCH</span> // //</div>
      </div>
      <div class="row">
        <div id="bookshelf" class="large-9 medium-12 large-centered columns">
          <div class="flex-video fx_settings">
            {{ cms.emage.embedly.html|safe  }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% set pa = cms.professionaladvisor %}
  <div id="about" class="about_row">
    <div class="row headline about_row_width">
      <div class="large-4 medium-3 columns">
          <img src="{{ cms.biography.image|imageSize(auto) }}" />
      </div>
      <div class="large-8 medium-9 columns">
          <h2 class="bio_mainheader">ABOUT STEVEN CUOCO</h2>
          <h6 class="subheader sub_quote">{{ cms.biography.quote }}</h6>
          <div class="about_text_small">{{ cms.biography.main_text|safe }}</div>
      </div>
    </div>
    <div class="row about_row_width">
      <div id="pa" class="large-6 columns bio_text">
        <h5 class="bio_subheader">// PROFESSIONAL ADVISOR</h5>
        {{ pa.main_text|safe }}
      </div>
      <div class="large-6 columns no-padding">
        <div class="bio_text">
          <h5 id="pub" class="bio_subheader">// PUBLICIST</h5>
          {{ cms.publicist.main_text|safe }}</div>
      </div>
    </div>
  </div>

  <div id="testimonials" class="testimonials">
    <div class="large-12 columns text-center">
      <h2 class="subheader testimonials_header">TESTIMONIALS</h2>
    </div>
    <div class="medium-4 columns">
      <div class="row no-margin">
        <div class="large-12 medium-12 columns article">
          {{ cms.testimonials.article1|safe }}
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="row article_row no-margin">
        <div class="medium-12 columns article right_on_med">
          {{ cms.testimonials.article3|safe }}
        </div>
        <div class="medium-12 columns article right_on_med">
          {{ cms.testimonials.article4|safe }}
        </div>
        <div class="medium-12 left columns article right_on_med">
          {{ cms.testimonials.article2|safe }}
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="row no-margin">
        <div class="medium-12 columns article">
          {{ cms.testimonials.article5|safe }}
        </div>
        <div class="medium-12 left columns article">
          {{ cms.testimonials.article6|safe }}
        </div>
      </div>
    </div>
  </div>

  <div id="books" class="books">
    <div class="row no-margin">
      <div class="large-12 medium-12 columns large-centered">
        <div class="row text-center"><h2>BOOKS</h2></div>
        {{ cms.books.books1|safe }}
      </div>
    </div>
  </div>

  <div id="contact" class="large-12 columns contact_background">
    <div class="contact">
    <div class="large-6 medium-12 small-12 columns text-left contact_info">
      <h5>CONTACT STEVEN CUOCO</h5>
      <ul class="no-bullet">
          <li>Phone :
            <a href="tel:908-329-5131"> 908-329-5131</a></li>
          <li>Email :
            <a target="_blank"
                 href="mailto:{{cms.home.email}}"> {{cms.home.email}}</a></li>
          <li>General Inquiries :
            <a target="_blank"
                 href="mailto:{{cms.home.general_inquiries}}"> {{cms.home.general_inquiries}}</a>
          </li>
      </ul>
    </div>
    <div class="large-6 medium-12 columns">
    <form accept-charset="UTF-8"
          action="https://formkeep.com/f/866a077f654a"
          method="POST">
      <input type="hidden" name="utf8" value="✓">
      <input type="email" name="email" placeholder="Your Email" required>
      <input type="text" name="name" placeholder="Your Name" required>
      <textarea type="text" name="message"
                placeholder="Comments or Questions are Welcome!" required></textarea>
      <button type="submit">SEND</button>
    </form>
    </div>
  </div>
  </div>

  <div class="privacy_policy_overlay">
    <div class="privacy_policy_text">
      <h5 class="policy_header">PRIVACY POLICY</h5>
      {{ cms.privacypolicy.text|safe }}
    </div>
  </div>

  <div class="terms_and_conditions_overlay">
    <div class="t_and_d_text">
      <h5 class="policy_header">TERMS & CONDITIONS</h5>
      {{ cms.termsandconditions.text|safe }}
    </div>
  </div>

  <!-- KEEP THIS -->
  <!-- <div class="breakpoints">
    <p class="panel">
      <strong class="show-for-small-only">This text is shown only on a small screen.</strong>
      <strong class="show-for-medium-up">This text is shown on medium screens and up.</strong>
      <strong class="show-for-medium-only">This text is shown only on a medium screen.</strong>
      <strong class="show-for-large-up">This text is shown on large screens and up.</strong>
      <strong class="show-for-large-only">This text is shown only on a large screen.</strong>
      <strong class="show-for-xlarge-up">This text is shown on xlarge screens and up.</strong>
      <strong class="show-for-xlarge-only">This text is shown only on an xlarge screen.</strong>
      <strong class="show-for-xxlarge-up">This text is shown on xxlarge screens and up.</strong>
    </p>
  </div> -->

{% endblock %}
